%usage-type {
	&::after {
		font-family: 'media-lib';
		font-size: 30px;
		font-style: normal;
		line-height: 30px;
	} // &::after

	&.thumbnail::after {
		content: '\e902';
	}

	&.content::after {
		content: '\e903';
	}

	&.metabox::after {
		content: '\e904';
	}
} // %usage-type