@font-face {
	font-display: block;
	font-family: 'media-lib';
	font-style: normal;
	font-weight: normal;
	src:  url('fonts/media-lib.eot?psbrzv');
	src:  url('fonts/media-lib.eot?psbrzv#iefix') format('embedded-opentype'),
	  url('fonts/media-lib.ttf?psbrzv') format('truetype'),
	  url('fonts/media-lib.woff?psbrzv') format('woff'),
	  url('fonts/media-lib.svg?psbrzv#media-lib') format('svg');
}

